body {
   background: url('../images/forest-5594153_1280.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.nav a{
    color: gray !important;
    font-size: 0.75em !important;
}

.list-group-item {
  font-size: 12px;
}

.small-font-size{
  font-size: 12px;
}


.nopadding {
   padding: 0 px;
   margin: 0 px;
}