{% extends 'base.html' %}
{% block content %}
  <div class="card border-0 shadow my-5">

    <div class="card-body p-5">

            <form action="{% url 'search_regs_by_sp' %}" method="post">
						<div class="form-group">
                            <label> Espécie:</label>
                            <select name=id_especie class="form-control">
                                {% for sp in especies_list %}
                                   {% if especie_selected.id != sp.id %}
                                        <option value="{{sp.id}}">{{sp.nome}}</option>
                                   {% endif%}
                                   {% if especie_selected.id == sp.id %}
                                        <option value="{{sp.id}}" selected>{{sp.nome}}</option>
                                   {% endif%}
                                {% endfor %}
                            </select>
						</div>
                        <input type="submit" name="submit" value="Procurar"  />
            </form>
        {% if request.user.is_authenticated%}
        <div>
                    <a href="{% url 'create_registro' %}">
                        <button type="button" class="btn btn-success"> Novo Registro </button>
                    </a>
           </div>
        {% endif %}
    </br>
   {% if especie_selected  %}
        <h5> {{nr_registros}} resultados para a espécie <i> {{especie_selected.nome}} </i>  </h5>
   {% endif %}

{% if registros_list  %}
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Classificação</th>
      <th scope="col">Vegetação</th>
      <th scope="col">Estado</th>
      <th scope="col">Referências</th>
    </tr>
  </thead>
   {% for registro in  registros_list %}
   <tr>
      <th scope="row">
           {% if registro.estagio == 'P' %} Pioneira  {% elif %}
           {% if registro.estagio == 'SI' %} Secundária Inicial  {% elif %}
           {% if registro.estagio == 'ST' %} Secundária Tardia  {% elif %}
           {% if registro.estagio == 'U' %} Umbrófila  {% elif %}
           {% if registro.estagio == 'S' %} Secundária  {% elif %}
           {% if registro.estagio == 'C' %} Climácica   {% else %}
                {{registro.estagio}}
           {% endif %}

      </th>
      <td>{{registro.formacao_florestal}}</td>
      <td>{{registro.estado}}</td>
      <td>
        <a href="{{ registro.referencia }}" target="_blank"  title="Link" ><i class="fa fa-link" aria-hidden="true"></i></a>
        <a  href="#" onclick="mostrar_detalhe('{{registro.detalhes}}')"  title="Publicação" > <i class="fas fa-info-circle"></i></a>
        {% if request.user.is_authenticated%}
            <a href="{% url 'edit_registro' registro.id%}" title="Editar"><i class="fa fa-edit" aria-hidden="true"></i></a>
            <a href="{% url 'delete_registro' registro.id%}" title="Excluir">  <i class="fas fa-trash-alt"> </i></a>
        {% endif %}
      </td>
   </tr>
  {% endfor %}
</table>
</div>
{% endif %}

</div>

{% endblock %}

