{% extends 'base.html' %}
{% block content %}
  <div class="card border-0 shadow my-5">

    <div class="card-body p-5">
            <form action="{% url 'search_regs_by_sp' %}" method="post">
						<div class="form-group row">
                            <select id="select_especie" name="id_especie" class="form-control">
                                <option value="" disabled selected>Selecione a espécie</option>
                                {% for sp in especies_list %}
                                   {% if especie_selected.id != sp.id %}
                                        <option value="{{sp.id}}">{{sp.nome}}</option>
                                   {% endif%}
                                   {% if especie_selected.id == sp.id %}
                                        <option value="{{sp.id}}" selected>{{sp.nome}}</option>
                                   {% endif%}
                                {% endfor %}
                            </select>
						</div>
                        <div class="form-group row">
                            <input type="submit" class="btn btn-success" name="submit" value="Procurar" />
                        </div>
            </form>
        {% if request.user.is_authenticated%}
             <div>
                    <a href="{% url 'create_registro' %}">
                        <button type="button" class="btn btn-success"> Novo Registro </button>
                    </a>
           </div>
            </br>
           <div>
                    <a href="{% url 'create_lote' %}">
                        <button type="button" class="btn btn-success"> Novo Lote de Registros </button>
                    </a>
           </div>
        {% endif %}
    </br>
   {% if especie_selected and nr_registros == 0 %}
        <span class="lead"> Nenhum resultado para <i> {{especie_selected.nome}} </i></span>
   {% endif %}

{% if registros_list  %}
<div class="table-responsive">
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th scope="col">Classificação</th>
      <th scope="col">Vegetação</th>
      <th scope="col">Estado</th>
      <th scope="col">Referências</th>
    </tr>
  </thead>
   {% for registro in  registros_list %}
   <tr>
      <th scope="row">
           {% if registro.estagio == 'P' %} Pioneira  
           {% elif registro.estagio == 'SI' %} Secundária Inicial
           {% elif registro.estagio == 'ST' %} Secundária Tardia
           {% elif registro.estagio == 'U' %} Umbrófila
           {% elif registro.estagio == 'S' %} Secundária
           {% elif registro.estagio == 'C' %} Climácica
           {% else %}
                {{registro.estagio}}
           {% endif %}

      </th>
      <td>{{registro.formacao_florestal}}</td>
      <td>{{registro.estado}}</td>
      <td align="center" valign="center">
        <a href="{{ registro.referencia }}" target="_blank"  title="Link" ><i class="fa fa-link" aria-hidden="true"></i></a>
        <a href="#" class="open-details-dialog" data-detalhes="{{registro.detalhes}}" title="Publicação" ><i class="fas fa-info-circle"></i></a>
        {% if request.user.is_authenticated%}
            <a href="{% url 'edit_registro' registro.id%}" title="Editar"><i class="fa fa-edit" aria-hidden="true"></i></a>
            <a href="{% url 'delete_registro' registro.id%}" title="Excluir">  <i class="fas fa-trash-alt"> </i></a>
        {% endif %}
      </td>
   </tr>
  {% endfor %}
</table>
</div>
{% endif %}
</div>

 <!-- pop up-->
<div id="popup" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <p id="register-details"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Fechar
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

