{% load static %}
<html>
<head>
    <title> Banco de Dados de Classificação Sucessional</title>
    <meta name="author" content="Tania Girão Mangolini">
    <meta name="description" content="Banco de Dados de Classificação Sucessional">
    <meta name="keywords" content="classificação sucessional, classificacao sucessional, secundária tardia, secundaria tardia, secundaria inicia, secundária inicial, umbrofila, umbrófila, pioneira, climácica">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>

	<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a href="/" class="navbar-brand" href="#">
      <img src="{% static 'images/suceco.png' %}"  height="60" class="d-inline-block align-top" alt="Classificação Sucessional">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" >
            <li class="nav-item">
                <a class="nav-link" href="/registros/">Registros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contato/">Contato</a>
            </li>
            {% if request.user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link" href="/formacaoflorestal/">Vegetação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/especies">Espécies</a>
                </li>
            {% endif %}
        </ul>
  </div>
   <ul class="nav navbar-nav navbar-right" >
       {% if request.user.is_authenticated%}
            <li><a href="/accounts/logout"><span class="fas fa-sign-out-alt"></span> <span >Logout</span></a></li>
       {% else %}
            <li><a href="/accounts/login"><span class="fas fa-sign-in-alt"></span> <span >Login</span></a></li>
        {% endif %}
    </ul>
</nav>
     <!-- Navbar -->
</head>
<body>
     <!-- Page Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Page Content -->
    <!-- Footer -->
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    <!-- Footer -->
</body>
{% block chart %}
{% endblock %}
</html>