{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo.png' %}"  width="120" height="30" class="d-inline-block align-top" alt="Classificação Sucessional">
      <br> <b style="font-size:11px">Classificação Sucessional</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav"  style="font-size: 0.75em !important;">
      <li class="nav-item">
        <a class="nav-link" href="/registros/">Registros</a>
      </li>
     {% if request.user.is_authenticated%}
      <li class="nav-item">
        <a class="nav-link" href="/formacaoflorestal/">Vegetação</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/especies">Espécies</a>
      </li>
     {% endif %}
    </ul>
  </div>
   <ul class="nav navbar-nav navbar-right" >
       {% if request.user.is_authenticated%}
            <li><a style="font-size: 0.5em !important; color: black" href="/accounts/logout"><span class="fas fa-sign-out-alt"></span> <span >Logout</span></a></li>
       {% else %}
             <li><a style="font-size: 0.5em !important; color: black" href="/accounts/login"><span class="fas fa-sign-in-alt"></span> <span >Login</span></a></li>
        {% endif %}
    </ul>
</nav>
     <!-- Navbar -->
</head>
<body>
 <!-- Page Content -->
<div class="container">
{% block content %}
{% endblock %}
<body>
</html>
