{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
			
		
              <a class="navbar-brand" href="#">
				<img src="../static/images/logo.png" >
									<strong class='titulo'> Banco de Dados de Classificação Sucessional </strong>

              </a>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
			   </div>
              </div>
            </div>
          </nav>
     <!-- Navbar -->
</head>
<body>
<!-- Bloco de conteúdo da nossa página -->    
{% block conteudo %}
 <!-- Page Content -->
<div class="container">
	
</div>
{% endblock %}
<body>
</html>
<body>
</html>
